.title {
  position: fixed;
  top: 2rem;
  left: 2rem;
  display: flex;
  align-items: center;

  &__text {
    color: white;
    font-family: 'sofia pro';
  }

  &__line {
    margin-left: 1rem;
    border-bottom: .1rem solid white;
    width: 3rem;
  }
}

.info {
  position: fixed;
  z-index: 2000;
  left: 25vw;
  top: 12rem;
  width: 16rem;
}

.info__eicel {
  font-family: futura;
  font-size: 3.5rem;
  width: 16rem;
  line-height: 4rem;
  color: #b1a8cb;

  &::after {
    content: '';
    position: absolute;
    left: 8.5rem;
    top: 8.3rem;
    background: url(../assets/svg/female.svg);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: 3.7rem; */
    width: 5rem;
    height: 5rem;
  }
}

.rainbow {
  position: fixed;
  top: -10rem;
  left: -5rem;
  z-index: 1;
  opacity: .2;
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/img/rainbow.png);
  background-size: contain;
  background-repeat: no-repeat;
  /* mix-blend-mode: screen; */
}

.rainbow2 {
  position: fixed;
  bottom: -10rem;
  right: -5rem;
  z-index: 1;
  opacity: .2;
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/img/rainbow.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  /* mix-blend-mode: screen; */
}

.organic-blob-home {
  position: absolute;
  left: -7rem;
  top: -5rem;
  /* z-index: 12; */
  opacity: .5;
  cursor: pointer;
  transform: scale(.2);
}

.organic-blob2-home {
  position: absolute;
  left: -7rem;
  top: -5rem;
  /* top: 0; */
  /* z-index: 10; */
  opacity: .5;
  transform: scale(.3);
  cursor: pointer;
}

.organic-blob3-home {
  position: absolute;
  left: -7rem;
  top: -5rem;
  /* z-index: 10; */
  /* top: 0; */
  opacity: .3;
  transform: scale(.4);
  cursor: pointer;
}

.info__eicel__button {
  position: relative;
  z-index: 10000;
  width: 10rem;
  height: 10rem;

  &__text {
    position: absolute;
    top: 1.9rem;
    left: 1rem;
    padding: 1.5rem;
    background-image: url(../assets/svg/right-arrow.svg);
    background-size: .9rem;
    background-repeat: no-repeat;
    background-position: center;
    color: #b1a8cb;
    font-family: 'sofia pro';
    cursor: pointer;
  }
}

.info2 {
  position: fixed;
  z-index: 1000;
  right: 20vw;
  bottom: 5rem;
  width: 20rem;
}

.info2__zaadcel {
  text-align: right;
  font-family: roboto;
  /* font-weight: 0; */
  font-size: 3.5rem;
  line-height: 4rem;
  color: #b1a8cb;

  &::after {
    content: '';
    position: absolute;
    right: 14.1rem;
    top: 7.5rem;
    background: url(../assets/svg/male.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 4.5rem;
    height: 4.5rem;
  }
}

.info2__zaadcel__button {
  position: relative;
  z-index: 10000;
  width: 10rem;
  height: 10rem;

  &__text {
    position: absolute;
    top: 0.8rem;
    left: 15.9rem;
    background-image: url(../assets/svg/right-arrow.svg);
    background-size: .9rem;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1.5rem;
    color: #b1a8cb;
    font-family: 'sofia pro';
    cursor: pointer;
  }
}

.organic-blob-home2 {
  position: absolute;
  left: 8rem;
  top: -6rem;
  /* z-index: 12; */
  opacity: .5;
  cursor: pointer;
  transform: scale(.2);
}

.organic-blob2-home2 {
  position: absolute;
  left: 8rem;
  top: -6rem;
  /* top: 0; */
  /* z-index: 10; */
  opacity: .5;
  transform: scale(.3);
  cursor: pointer;
}

.organic-blob3-home2 {
  position: absolute;
  left: 8rem;
  top: -6rem;
  /* z-index: 10; */
  /* top: 0; */
  opacity: .3;
  transform: scale(.4);
  cursor: pointer;
}


.extra {
  position: fixed;
  z-index: 500;
  top: 0;
  right: 5rem;

  &__svg {

    display: flex;
    justify-content: center;
    /* display: block; */
    background-position: center;
    margin-left: 2.7rem;
  }

  &__test {
    padding: .5rem;
    z-index: 999;
    font-family: 'sofia pro';
    color: white;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 970;
}

.path__lineOut {
  animation: dash 2s ease-in-out forwards;
}

@keyframes dash {

  to {
    stroke-dashoffset: 0;
  }
}

.path__lineIn {
  animation: dashIn 2s ease-in-out forwards;
}

@keyframes dashIn {

  to {
    stroke-dashoffset: 970;
  }
}
