@import 'cssHome.css';

/* @font-face {
  font-family: roboto;
  src:
    url(../assets/fonts/roboto/roboto-thin.woff2) format('woff2'),
    url(../assets/fonts/roboto/roboto-thin.woff) format('woff');
} */

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: futura;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0a000f;
}

.c {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  clip-path: polygon(0 0, 81% 0, 5% 100%, 0 100%);
}

.canvasAnimation {
  will-change: animation;
  animation: clipPath 4s ease-in-out forwards;
}

@keyframes clipPath {

  0% { clip-path: polygon(0 0, 81% 0, 5% 100%, 0 100%); }

  100% { clip-path: polygon(0 0, 200% 0, 100% 100%, 0 200%); }
}

.home {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

.eicelStory {
  opacity: 0;
}

.eicel {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  color: white;

  &_stage_text {
    position: absolute;
    left: 20vw;
    top: 12rem;
    font-size: 2rem;
    letter-spacing: .02rem;
    width: 25rem;
    line-height: 2.9rem;
    color: #b1a8cb;

    /* font-family: Roboto; */
    /* animation: visible 2s forwards; */
  }
}

.age, .count {
  opacity: 0;
}

.stage__stats {
  position: fixed;
  bottom: 10rem;
  left: calc(50% - 8rem);
  display: flex;
  justify-content: space-between;
  width: 17rem;
  font-size: 1.2rem;
  font-family: 'sofia pro';

  &__valueMetric, &__countMetric {
    text-transform: capitalize;
    color: #9d6b88;
    letter-spacing: .1rem;
    margin-left: .2rem;
  }
}

/* .buttons {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  &_next {
    position: absolute;
    bottom: 3rem;
    left: calc(50% - 2.5rem);
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;

    &_text {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: fixed;
      bottom: -5rem;
       width: 5rem;
      height: 5rem;
      position: fixed;
      bottom: -2.3rem;
      left: calc(50% - 10rem);
      color: white;
      margin: 0;
    }

    &_bg {
      position: fixed;
      position: absolute;
      bottom: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &_previous {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -7rem;
    cursor: pointer;
  }
}  */

.user_age {
  z-index: 500;
}

.user_age, .user_children_age {
  opacity: 0;
  position: fixed;
  bottom: 6rem;
  z-index: 10;
  left: calc(50% - 14rem);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 28rem;

  &_input {
    text-align: center;
    width: auto;

    &_value {
      opacity: 0;
      text-align: center;
    }
  }

  &_input_age {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_flex {
    display: flex;
    justify-content: space-between;
  }

  &_0 {
    color: #b1a8cb;
    margin-left: -13.08rem;
  }

  &_100 {
    margin-right: -13.7rem;
    color: #b1a8cb;
    overflow-x: visible;
  }
}

input[type=range] {
  appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-webkit-slider-runnable-track {
  display: flex;
  align-items: center;
  width: 100%;
  height: 55px;
  cursor: pointer;
  background-image: url(../assets/svg/slider.svg);
  background-repeat: no-repeat;
}

input[type=range]::-webkit-slider-thumb {
  appearance: none;
  /* border: 1px solid black; */
  height: 45px;
  width: 45px;
  background-image: url(../assets/svg/slider_thumb.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: -14px;
}

.nav {
  display: flex;
  align-items: center;
  color: white;
  position: fixed;
  right: 2rem;
  top: 0;
  height: 100vh;

  &__list {
    padding: 0;

    &__flex {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10rem;
    }

    &__stage {

      font-family: 'sofia pro';
      width: 5rem;
      text-align: right;

      &--active {
        opacity: 1;
        will-change: opacity;
        animation: fadeIn 1s forwards ease;
      }

      &--inactive {
        opacity: 0;
        will-change: opacity;
        animation: fadeOut 1s forwards ease;
      }
    }

  }

  &__list__item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/svg/cyclus.svg);
    background-size: 5rem 2.7rem;
    background-position: center;
    background-repeat: no-repeat;
    list-style: none;
    width: 5rem;
    height: 4rem;
    cursor: pointer;
  }

  &__list--active {
    position: absolute;
    margin-top: 0;
    opacity: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../assets/svg/selected_cyclus.svg);
    /* background-size: 5rem 4rem; */
    width: 5rem;
    height: 4rem;
    will-change: opacity;
    animation: fadeIn 1s forwards ease;
  }

  &__list--inactive {
    position: absolute;
    margin-top: 0;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../assets/svg/selected_cyclus.svg);
    width: 5rem;
    height: 4rem;
    will-change: opacity;
    animation: fadeOut 1s forwards ease;
  }

  &__list__deco {
    margin: .7rem 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background-image: url(../assets/svg/nav_deco2.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 5rem;
    height: 1.5rem;
    margin-right: 0;
  }

}

@keyframes fadeIn {

  0% { opacity: 0; }

  100% { opacity: 1; }
}

@keyframes fadeOut {

  0% { opacity: 1; }

  100% { opacity: 0; }
}

.overlay {
  position: fixed;
  z-index: 2001;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #0a000f;
}

.overlay_animation {
  will-change: animation;
  animation: startExperience 2s forwards ease;
}

@keyframes startExperience {

  0% { opacity: 1; }

  99% {
    opacity: 0;
    width: 100vw;
    height: 100vh;
  }

  100% {
    opacity: 0;
    display: none;
    width: 0;
    height: 0;
  }
}

@keyframes fade {

  0% { color: white; }

  50% { color: #343434; }

  100% { color: white; }
}

.eicel_stage_risks {
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.risks {
  display: none;
}

/* .info {
  display: none;
} */

/* .organic-blob {
  position: absolute;
  opacity: .3;
  transform: scale(.2);
  top: 0;
  cursor: pointer;
}

.organic-blob2 {
  position: absolute;
  opacity: .3;
  transform: scale(.3);
  top: 0;
  cursor: pointer;
}

.organic-blob3 {
  position: absolute;
  opacity: .3;
  transform: scale(.4);
  top: 0;
  cursor: pointer;
} */

.buttons {
  position: absolute;
  left: 20vw;
  top: 40rem;
  width: 25rem;
  display: flex;
  justify-content: flex-start;

  &__div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: 2.5rem;
  }

  &__text {
    cursor: pointer;
    background-image: url(../assets/svg/right-arrow.svg);
    background-size: .9rem;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 8.3rem;
    padding: 1rem;
    margin: 0;
  }
}

.organic-blob {
  position: absolute;
  bottom: 0;
  /* z-index: 12; */
  opacity: .5;
  cursor: pointer;
  transform: scale(.2);
  will-change: transform;
}

.organic-blob2 {
  position: absolute;
  bottom: 0;
  /* top: 0; */
  /* z-index: 10; */
  opacity: .5;
  transform: scale(.3);
  cursor: pointer;
  will-change: transform;
}

.organic-blob3 {
  bottom: 0;
  position: absolute;
  /* z-index: 10; */
  /* top: 0; */
  opacity: .3;
  transform: scale(.4);
  cursor: pointer;
}

.dontdisplay {
  display: none;
}

.fade {
  opacity: 1;
  will-change: opacity;
  animation: fadeOut 3s forwards;
}

.visible {
  opacity: 0;
  will-change: opacity;
  animation: fadeIn 3s forwards;
}

.highlight {
  color: #825871;
  background: none;
}

.fadeText {
  opacity: 1;
  will-change: opacity;
  animation: fadeOut 1s forwards;
}

.visibleText {
  opacity: 0;
  will-change: opacity;
  animation: fadeIn 1s forwards;
}

@keyframes visible {

  0% { opacity: 0; }

  100% { opacity: 1; }
}
