html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #3a3d46;
  font-family: futura;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.c {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.eicel {
  /*display: none;*/
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  color: white;

  &_stage_text {
    position: absolute;
    left: 20vw;
    top: 12rem;
    font-size: 2rem;
    width: 25rem;
    line-height: 3rem;
    color: #b1a8cb;
  }
}

.stage__stats {
  position: fixed;
  bottom: 12rem;
  left: calc(50% - 8rem);
  display: flex;
  justify-content: space-between;
  width: 16rem;
  font-size: 1.2rem;
  font-family: 'sofia pro';

  &__valueMetric, &__countMetric {
    text-transform: capitalize;
    color: #9d6b88;
    letter-spacing: .1rem;
    margin-left: .2rem;
  }
}

/* .buttons {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  &_next {
    position: absolute;
    bottom: 3rem;
    left: calc(50% - 2.5rem);
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;

    &_text {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: fixed;
      bottom: -5rem;
       width: 5rem;
      height: 5rem;
      position: fixed;
      bottom: -2.3rem;
      left: calc(50% - 10rem);
      color: white;
      margin: 0;
    }

    &_bg {
      position: fixed;
      position: absolute;
      bottom: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &_previous {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -7rem;
    cursor: pointer;
  }
}  */

.user_age {
  position: fixed;
  bottom: 6rem;
  z-index: 10;
  left: calc(50% - 14rem);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 28rem;

  &_input {
    text-align: center;
    width: auto;

    &_value {
      text-align: center;
    }
  }

  &_input_age {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_flex {
    display: flex;
    justify-content: space-between;
  }

  &_0 {
    color: #b1a8cb;
    margin-left: 1.02rem;
  }

  &_100 {
    color: #b1a8cb;
    overflow-x: visible;
  }
}

input[type=range] {
  appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-webkit-slider-runnable-track {
  display: flex;
  align-items: center;
  width: 100%;
  height: 55px;
  cursor: pointer;
  background-image: url(../assets/svg/slider.svg);
  background-repeat: no-repeat;
}

input[type=range]::-webkit-slider-thumb {
  appearance: none;
  /* border: 1px solid black; */
  height: 45px;
  width: 45px;
  background-image: url(../assets/svg/slider_thumb.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: -14px;
}

.nav {
  display: flex;
  align-items: center;
  color: white;
  position: fixed;
  right: 2rem;
  top: 0;
  height: 100vh;

  &__list {
    padding: 0;
  }

  &__list__item_active {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background-image: url(../assets/svg/selected_cyclus.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 5rem;
    height: 4rem;
    cursor: pointer;
  }

  &__list__item {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background-image: url(../assets/svg/cyclus.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 5rem;
    height: 2.9rem;
    cursor: pointer;
  }

  &__list__deco {
    margin: .7rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background-image: url(../assets/svg/nav_deco.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 5rem;
    height: 2.5rem;
    margin-right: 0;
  }

}

.top {
  position: fixed;
  z-index: 10;
  top: 0;
  height: 50vh;
  width: 100vw;
  background-color: #191919;
}

.top_animation {
  position: fixed;
  z-index: 10;
  top: 0;
  height: 50vh;
  width: 100vw;
  background-color: #191919;
  animation: startExperience 5s forwards ease;
  clip-path: inset(0 0 0 0);
}

.bottom_animation {
  position: fixed;
  z-index: 10;
  bottom: 0;
  height: 50vh;
  width: 100vw;
  background-color: #191919;
  animation: startExperience2 5s forwards ease;
  clip-path: inset(0 0 0 0);
}

.bottom {
  position: fixed;
  z-index: 10;
  bottom: 0;
  height: 50vh;
  width: 100vw;
  background-color: #191919;
}

@keyframes startExperience {

  0% { clip-path: inset(0 0 0 0); }

  100% { clip-path: inset(0 0 100% 0); }
}

@keyframes startExperience2 {

  0% { clip-path: inset(0 0 0 0); }

  100% {
    clip-path: inset(100% 0 0 0);
    display: none;
  }
}

.h1 {
  text-align: center;
  font-size: 48px;
}

.l {
  color: white;
  margin-right: -5px;
  animation: fade 5s infinite ease;
}

@keyframes fade {

  0% { color: white; }

  50% { color: #343434; }

  100% { color: white; }
}

.eicel_stage_risks {
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.risks {
  display: none;
}

.info {
  display: none;
}

.storyIndex {
  display: none;
}

/* .organic-blob {
  position: absolute;
  opacity: .3;
  transform: scale(.2);
  top: 0;
  cursor: pointer;
}

.organic-blob2 {
  position: absolute;
  opacity: .3;
  transform: scale(.3);
  top: 0;
  cursor: pointer;
}

.organic-blob3 {
  position: absolute;
  opacity: .3;
  transform: scale(.4);
  top: 0;
  cursor: pointer;
} */

.buttons {
  position: absolute;
  left: 20vw;
  top: 40rem;
  width: 25rem;
  display: flex;
  justify-content: flex-start;

  &__div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: 2.5rem;
  }

  &__text {
    position: absolute;
    bottom: 7.7rem;
  }
}

.organic-blob {
  position: absolute;
  bottom: 0;
  /* z-index: 12; */
  opacity: .5;
  cursor: pointer;
  transform: scale(.2);
}

.organic-blob2 {
  position: absolute;
  bottom: 0;
  /* top: 0; */
  /* z-index: 10; */
  opacity: .5;
  transform: scale(.3);
  cursor: pointer;
}

.organic-blob3 {
  bottom: 0;
  position: absolute;
  /* z-index: 10; */
  /* top: 0; */
  opacity: .3;
  transform: scale(.4);
  cursor: pointer;
}
