html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #3a3d46;
  font-family: futura;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.c {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.eicel {
  /*display: none;*/
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  color: white;

  &_stage_stats {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 80vw;
  }

  &_stage_text {
    margin: 0 auto;
    display: flex;
    font-size: 2.4rem;
    justify-content: center;
    align-items: flex-end;
    height: 55vh;
    width: 25rem;
    line-height: 3rem;
    padding-right: 30rem;
    /*color: #9d6b83;*/
    color: #b1a8cb;
  }
}

.buttons {
  margin: 0 auto;
  /*display: flex;*/
  justify-content: space-between;

  &_next {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -7rem;
    cursor: pointer;

    &_text {
      position: absolute;
      margin: 0 auto;
      color: white;
    }

    &_bg {
      position: absolute;
      margin: 0 auto;
      display: flex;
      justify-content: center;
    }
  }

  &_previous {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -7rem;
    cursor: pointer;
  }
}

.user_age {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 450px;

  &_input {
    text-align: center;
    width: 470px;

    &_value {
      text-align: center;
    }
  }

  &_input_age {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_0 {
    color: #000cea;
    /* lalalal */
  }

  &_100 {
    color: #000cea;
    overflow-x: visible;
    margin-left: 21.51rem;
  }
}

input[type=range] {
  appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-webkit-slider-runnable-track {
  display: flex;
  align-items: center;
  width: 100%;
  height: 55px;
  cursor: pointer;
  background-image: url(../assets/svg/slider.svg);
  background-repeat: no-repeat;
}

input[type=range]::-webkit-slider-thumb {
  appearance: none;
  /* border: 1px solid black; */
  height: 45px;
  width: 45px;
  background-image: url(../assets/svg/slider_thumb.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: -14px;
}

.nav {
  display: flex;
  align-items: center;
  color: white;
  position: fixed;
  right: 2rem;
  top: 0;
  height: 100vh;

  &__list {
    padding: 0;
  }

  &__list__item_active {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background-image: url(../assets/svg/selected_cyclus.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 5rem;
    height: 4rem;
    cursor: pointer;
  }

  &__list__item {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background-image: url(../assets/svg/cyclus.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 5rem;
    height: 2.9rem;
    cursor: pointer;
  }

  &__list__deco {
    margin: .7rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background-image: url(../assets/svg/nav_deco.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 5rem;
    height: 2.5rem;
    margin-right: 0;
  }

}

.top {
  position: fixed;
  z-index: 10;
  top: 0;
  height: 50vh;
  width: 100vw;
  background-color: #191919;
}

.top_animation {
  position: fixed;
  z-index: 10;
  top: 0;
  height: 50vh;
  width: 100vw;
  background-color: #191919;
  animation: startExperience 5s forwards ease;
  clip-path: inset(0 0 0 0);
}

.bottom_animation {
  position: fixed;
  z-index: 10;
  bottom: 0;
  height: 50vh;
  width: 100vw;
  background-color: #191919;
  animation: startExperience2 5s forwards ease;
  clip-path: inset(0 0 0 0);
}

.bottom {
  position: fixed;
  z-index: 10;
  bottom: 0;
  height: 50vh;
  width: 100vw;
  background-color: #191919;
}

@keyframes startExperience {

  0% { clip-path: inset(0 0 0 0); }

  100% { clip-path: inset(0 0 100% 0); }
}

@keyframes startExperience2 {

  0% { clip-path: inset(0 0 0 0); }

  100% {
    clip-path: inset(100% 0 0 0);
    display: none;
  }
}

.h1 {
  text-align: center;
  font-size: 48px;
}

.l {
  color: white;
  margin-right: -5px;
  animation: fade 5s infinite ease;
}

@keyframes fade {

  0% { color: white; }

  50% { color: #343434; }

  100% { color: white; }
}

.eicel_stage_risks {
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.risks {
  display: none;
}

.info {
  display: none;
}

.storyIndex {
  display: none;
}

/* .organic-blob {
  position: absolute;
  opacity: .3;
  transform: scale(.2);
  top: 0;
  cursor: pointer;
}

.organic-blob2 {
  position: absolute;
  opacity: .3;
  transform: scale(.3);
  top: 0;
  cursor: pointer;
}

.organic-blob3 {
  position: absolute;
  opacity: .3;
  transform: scale(.4);
  top: 0;
  cursor: pointer;
} */

.organic-blob {
  position: absolute;
  top: 0;
  z-index: 12;
  opacity: .5;
  cursor: pointer;
  transform: scale(.2);
}

.organic-blob2 {
  position: absolute;
  top: 0;
  z-index: 10;
  opacity: .5;
  transform: scale(.3);
  cursor: pointer;
}

.organic-blob3 {
  position: absolute;
  z-index: 10;
  top: 0;
  opacity: .3;
  transform: scale(.4);
  cursor: pointer;
}
